In [3]:
# 변수에 어던 종류의 자료도 저장할 수 있다.
x = 10
print("x=", x)

x= 10

In [6]:
y = 3.14
print("y=", y)

y= 3.14

In [8]:
이름 = "강보승"
print("내 이름은", 이름)

내 이름은 강보승

In [9]:
'강보승'

'강보승'

In [10]:
"I'm a boy."

"I'm a boy."

In [11]:
# 문자열을 숫자로 변환
t = input("정수를 입력하시오: ")
x = int(t)
t = input("정수를 입력하시오: ")
y = int(t)
print(x+y)

300

In [12]:
# 문자열로 인식 
str(123) + str(123)

'123123'

In [18]:
print("나는 현재", str(21), "살이다.")

나는 현재 21 살이다.

In [16]:
print('원주율은' + str(3.14) + '입니다.')

원주율은3.14입니다.

In [19]:
메시지 = "축하해!"
print(메시지 * 3)

축하해!축하해!축하해!

In [3]:
# 문자열에 변수값을 포함.
price = input("얼마에요?")
print = ("상품의 가격은 {0}원입니다.". format(price))

In [1]:
name = input("이름이 뭐에요?")
print("당신의 이름은 {0}입니다.". format(name))

당신의 이름은 강보승입니다.

In [7]:
# 개별 문자 추출 = 인덱싱
s = input("이름이 뭔가요?")
s[0]
s[1]+s[2]

'보승'

In [8]:
# 일정 범위의 문자 추출 = 슬라이싱
s[1:2]

'보'

In [9]:
s[1:3]

'보승'

In [2]:
s = input("당신의 이름은??")
print("당신의 성은 {0}이고, 이름은 {1}입니다.". format(s[0], s[1:3]))

당신의 성은 강이고, 이름은 보승입니다.

In [4]:
print("안녕하세요?")
name = input("이름이 어떻게 되시나요?")
print("만나서 반갑습니다. {0}씨". format(name))
print("이름의 길이가", str(len(name)), "글자이네요.")

age = int(input("나이가 어떻게 되세요?"))
print("내년에는", str(age+1), "이시네요.")

안녕하세요?
만나서 반갑습니다. 강보승씨
이름의 길이가 3 글자이네요.
내년에는 20 이시네요.

In [5]:
과목 = ["국어", "영어", "수학", "과학", "사회"]

In [6]:
과목

['국어', '영어', '수학', '과학', '사회']

In [7]:
과목[2]

'수학'

In [8]:
과목[2:4]

['수학', '과학']

In [9]:
과목.append("세계지리")

In [10]:
과목

['국어', '영어', '수학', '과학', '사회', '세계지리']

In [11]:
친구 = ["이건희"]

In [12]:
친구

['이건희']

In [13]:
친구.append("이준호")

In [14]:
친구

['이건희', '이준호']

In [15]:
친구.append("백정현")

In [16]:
친구

['이건희', '이준호', '백정현']

In [1]:
친구목록 = []
친구이름 = input("친한 친구 이름을 써보세요.")
친구목록.append(친구이름)
친구이름 = input("친한 친구 이름을 써보세요.")
친구목록.append(친구이름)
친구이름 = input("친한 친구 이름을 써보세요.")
친구목록.append(친구이름)

친구목록

['이건희', '이준호', '백정현']

In [2]:
# 비교 연산자
100 > 1

True

In [3]:
33 < 33

False

In [4]:
55 == 55

True

In [5]:
33 != 44

True

In [6]:
33 != 33

False

In [18]:
score = int(input("점수 몇점입니까?"))
if score >= 70:
    print("축하합니다 1차 전형에 합격하셨습니다!")
    print("2차 면접전형과 관련된 내용은 다음 페이지에서 확인하세요.")
else: 
    print("저희 회사에 응시해주셔서 대단히 고맙습니다.")
    print("아쉽지만 불합격입니다.")

축하합니다 1차 전형에 합격하셨습니다!
2차 면접전형과 관련된 내용은 다음 페이지에서 확인하세요.

In [16]:
age = int(input("나이를 말씀해주세요."))
if age >= 19:
    print("이 영화를 보실 수 있습니다.")
else:
    print("이 영화를 보실 수 없습니다.")

이 영화를 보실 수 있습니다.